.txtCenter { text-align:center; }
.txtVerticalMiddle { vertical-align: middle; }
.txtRight { text-align:right; }
.txtLarge, h1, h2 { font-size: 40px; font-family: 'Georgia', Times, Times New Roman, serif; }
.txtMedium { font-size:1.2em; }
.txtSmall { font-size: 10px; }
.txtWhite { color:#fff; }
.txtGrey { color:#777; }
.txtLightGrey { color:#ddd; }
.txtGreen { color:#4aaaa5; }
.txtBold { font-weight: bold; }
.txtSize2_0 { font-size:2.0em }
.txtSize1_6 { font-size:1.6em }
.txtLineHeight { line-height:2.0em; } 
.txtFontMonoSpace {font-family:monospace;}
.floatLeft { float:left;}
.hidden {display:none;}



html { background-color:#000; }
body { 
  margin: 20px auto;
  padding:0 0;
  border: white solid 0px;
}

div, p, ul, li, a, label, input, textarea {  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;}

hr { border-color: #ddd; border-width: 1px; margin-bottom:30px;}

#header, #main, #footer { width:100%; margin: 0px auto;}
#headerContent, #mainContentQUIZ {margin: 0px auto;}

/* #################  HEADER  ########################## */
#header {
  padding:0;
  margin:0;
  height:90px;
  background-color: #ffffff;
  border-bottom: #ccc solid 2px;
}
#headerContent {
 height:100%;
}
#headerName {
float:left;
height:90px;
line-height: 90px;
vertical-align: middle;
width:300px;
background-color:#4aaaa5;
}
#headerNavigation {
float:right;
height:90px;
line-height: 90px;
vertical-align: middle;
width:270px;
}
#headerNavigation #count {
    width: 35px;
    text-align: center;
}

/* #################  HEADER NAVIGATION  ########################## */
#nav-smalllinks {
    text-transform:none;
    font-size: 18px;
}

/* #################  MAIN  ########################## */
#main {
    background-image: url("../images/vintage-concrete.png");
    padding: 40px 0px;
    border-bottom: #4aaaa5 solid 10px;    
}
/* #################  ABOUT  ########################## */
#mainContentABOUT {
    background-color:#fff;
    border-bottom: #ccc solid 1px;
}

#mainContentABOUT img{
    border: #ddd solid 2px;
    margin: 0 25px 25px 0;
    float:left;
    width:200px;
}

/* #################  QUIZ  ########################## */
#mainContentQUIZ {
    background-color:#fff;
    border-bottom: #ccc solid 1px;
}
#mainContentQUIZ .initialize { text-align:center; }

#mainContentQUIZ .initialize #startButton {}

.questionButtons { display:block; height:100px; width:auto; margin:10px 10px 10px 0; border: 3px solid #0F5C88; background:url('../images/buttonBackgroundTransparent.png') repeat-x #666; position:relative; }
.questionButtons p { top:35%; position:absolute; padding-left:20px; }
.questionButtons:hover{ border: 3px solid #FF0000; cursor:pointer;}
#mainContentQUIZ .initialize h1,
#mainContentQUIZ .initialize h2,
#mainContentQUIZ .initialize h3 { padding: 5px 0 5px 0;}


/* #################  FOOTER  ########################## */
#footer {
  height:60px;
  padding: 0px 0px;
  margin-bottom: 0px;
  background-color: #666;
  position: relative;
}

#footer p{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.clearfix { content:""; display:block; clear: both;}





@media (min-width: 980px) {
    /* h1{background-color:black;} */
    body { max-width: 1400px; }
    #headerContent {max-width:960px;}
    #mainContentQUIZ {max-width:900px; padding:30px;}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 980px) {
    /* h1{background-color:green;} */
    body { max-width: 777px; }
    #headerContent {width:100%;}
    #mainContentQUIZ {max-width:422px; padding: 25px;}
    #headerContent,#mainContentQUIZ { margin: 0px 40px; }
    #headerContent { width: auto; }
    #headerNavigation.txtRight { text-align:center; }
    #portfolioWrapper { min-height: 950px; }
}
/* Landscape phone to portrait tablet */
@media (min-width: 640px) and (max-width: 768px) {
    /* h1{background-color:yellow;} */
    body { max-width: 546px; }
    #header { height:130px; }
    #headerContent {max-width:515px;}
    #mainContentQUIZ {max-width:471px; padding: 22px;}
    #headerContent,#mainContentQUIZ  { margin: 0px 15px; }
    #headerNavigation { float: left; height: 90px; line-height: 35px; }
    #nav-smalllinks { display:inline-block; }
    #mainContentQUIZ h2 {clear:both;}
    #portfolioWrapper { min-height: 950px; }
}
/* Landscape phones and down */
@media (max-width: 640px) {
    /* h1{background-color:orange;} */
    body { max-width: 376px; }
    #header { height:130px; }
    #headerContent { margin: 0px 0px; }
    #headerName { width: 100%; }
    #mainContentQUIZ {max-width:308px; padding: 21px;}
    #headerNavigation { float:left; height:90px; line-height:35px;  width:320px; }
    #nav-smalllinks { display:inline-block; }
    #mainContentQUIZ h2 {clear:both;}
    #portfolioWrapper { min-height: 950px; }
    #mainContentQUIZ img { display:none; }
}

/* 
Screen  Body    Content
DEF>    1400    960
980>    777     472         green
768>    546     515         yellow
640>    376     350         orange
*/