.txtCenter { text-align:center; }
.txtRight { text-align:right; }
.txtLarge, h1, h2 { font-size: 40px; font-family:'Permanent Marker', cursive; }
.txtMedium { font-size:1.8em; }
.txtMedium12 { font-size:1.2em; }
.txtSmall { font-size: 10px; }
.txtWhite { color:#ffffff; }
.txtGrey { color:rgb(61, 61, 61); }
.txtLightGrey { color:#ddd; }
.txtGreen { color:#4aaaa5; }
.txtBold { font-weight: bold; }
.txtLineHeight { line-height:2.0em; } 

html { background-color:#000; }
body { 
  margin: 20px auto;
  padding:0 0;
  border: white solid 0px;
}

div, p, ul, li, a, label, input, textarea { font-family:'Orbitron', sans-serif; }

hr { border-color: #ddd; border-width: 1px; margin-bottom:30px;}

#header, #main, #footer { width:100%; margin: 0px auto;}
#headerContent, #mainContentHangMan {margin: 0px auto;}

/* #################  HEADER  ########################## */
#header {
  padding:0;
  margin:0;
  height:90px;
  background-color: #ffffff;
  border-bottom: #ccc solid 2px;
}
#headerContent {
 height:100%;
}
#headerName {
float:left;
height:90px;
line-height: 90px;
vertical-align: middle;
width:400px;
background-color:red;
}
#headerNavigation {
float:right;
height:90px;
line-height: 90px;
vertical-align: middle;
width:270px;
}

/* #################  MAIN  ########################## */
#main {     
    background-image: url("../images/forest-BG.jpg");
    padding: 40px 0px;
    border-bottom: #ccc solid 10px;
    }

#mainContentHangMan {
    background-color:#989898;
    background-image: url("../images/IT_clownFace_V2.jpg");
    background-repeat: no-repeat;
    border-bottom: #ccc solid 1px;
    opacity:1;
}

#HangManWrapper  {
    max-width: 900px;
    min-height: 550px;
}
#HangManLeft  {
    min-width: 500px;
}
#HangManLeft div { padding-bottom:10px;}

#HangManRight  {
    min-width: 200px;
    min-height: 400px;
}

#HangManRight img  {
 border-color: #ddd;
 border-width:2px;
}

#HangManWrapper ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#HangManWrapper ul li {
    float: left;
    margin: 0 10px 10px 0;
    position: relative;
}
#mainGameOutput img{ opacity:1; }

/* #################  FOOTER  ########################## */
#footer {
  height:60px;
  padding: 0px 0px;
  margin-bottom: 0px;
  background-color: #666;
  position: relative;
}

#footer p{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.clearfix { content:""; display:block; clear: both;}

@media (min-width: 980px) {
    /* h1{background-color:black;} */
    body { max-width: 1400px; }
    #headerContent {max-width:960px;}
    #mainContentHangMan {max-width:900px; padding:30px;}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 980px) {
    /* h1{background-color:green;} */
    body { max-width: 777px; }
    #headerContent {width:100%;}
    #mainContentHangMan {max-width:422px; padding: 25px;}
    #headerContent,#mainContentHangMan { margin: 0px 40px; }
    #headerContent { width: auto; }
    #headerNavigation.txtRight { text-align:center; }
    #HangManWrapper { min-width: auto; }
    #HangManRight img {display:none;}
}
/* Landscape phone to portrait tablet */
@media (min-width: 640px) and (max-width: 768px) {
    /* h1{background-color:yellow;} */
    body { max-width: 546px; }
    #header { /*height:130px;*/ }
    #headerContent {max-width:515px;}
    #mainContentHangMan {max-width:471px; padding: 22px;}
    #headerContent, #mainContentHangMan  { margin: 0px 15px; }
    #headerNavigation { float: left; height: 90px; line-height: 35px; display: none; }
    #mainContentHangMan h2 {clear:both;}
    #HangManLeft {  min-width: auto; }
    #HangManRight img {display:none;}
}
/* Landscape phones and down */
@media (max-width: 640px) {
    /* h1{background-color:orange;} */
    body { max-width: 376px; }
    #header { /* height:130px; */ }
    #headerContent { margin: 0px 0px; }
    #headerName { width: 100%; }
    #mainContentHangMan {max-width:308px; padding: 21px;}
    #headerNavigation { float:left; height:90px; line-height:35px;  width:320px; display: none; }
    #mainContentHangMan h2 {clear:both;}
    #HangManLeft {  min-width: auto; }
    #HangManRight img {display:none;}
    #mainContentHangMan { background-position-x:-210px; background-size:auto auto; }
    .txtLarge, h1, h2 { font-size: 30px; }
}

/* 
Screen  Body    Content
DEF>    1400    960
980>    777     472         green
768>    546     515         yellow
640>    376     350         orange
*/